<!DOCTYPE html>
<html>
  
  <head>
    <title>Product Catalog</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  
  <body>
    
    <a href="{{ url_for('view_categories_html') }}">Edit Categories</a>
    <a href="{{ url_for('view_items_html') }}">Edit Items</a>
    
    <div class="catalog">
    
        <h1>Product Catalog</h1>
        
        <div class="categories">
            
            {% for category in categories %}
            <div class="category">
              <a href="/catalog/{{category.id}}">{{category.name}}</a>
            </div>
            {% endfor %}
            
        </div>
        
        <div class="items">
            
            {% if category %}
            <h2>{{category.name}}</h2>
            {% else %}
            <h2>Please choose a product category.</h2>
            {% endif %}
            
            {% for item in items %}
            
            <div class="item">
              <h3><a href="/catalog/{{category.id}}/{{item.id}}">{{item.name}}</a></h3>
            </div>
            
            {% endfor %}
            
        </div>
    
    </div>
    
  </body>
  
</html>