<!DOCTYPE html>
<html>
  
  <head>
    <title>Catalog Items</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  
  <body>
    <div class="menu-bar">
      <div class="menu-items">
        <div class="menu-item">
          <a href="{{ url_for('view_product_catalog') }}">Home</a>
        </div>
        <div class="menu-item">
          <a href="{{ url_for('view_create_item_form') }}">New item</a>
        </div>
      </div>
      <h1>Catalog Items</h1>
    </div>

    {% for item in items %}
    <div class="item">
      <h2>{{item.name}}</h2>
      <a href="{{ url_for('view_update_item_form', item_id = item.id) }}">Edit</a>
      <a href="{{ url_for('view_delete_item_form', item_id = item.id) }}">Delete</a>
    </div>
    {% endfor %}
  </body>
  
</html>