<!DOCTYPE html>
<html>

  <head>
    <title>New Catalog Item</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='category_form.js') }}"></script>
  </head>

  <body>
    <h1>New Catalog Item</h1>
    <form action="/items" method="POST">
      Category: <select name="category_id">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
      </select>
	  Name: <input name="name"/>
      Description: <textarea name="description"></textarea>
	  <input id="submit" type="button" value="Submit"/>
	  <a id="cancel" href="{{url_for('view_items_html')}}">Cancel</a>
	</form>
  </body>

</html>