<!DOCTYPE html>
<html>
  
  <head>
    <title>Catalog Items</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  
  <body>
  
    <h1>Catalog Items</h1>
    
    <a href="{{ url_for('view_create_item_form') }}">Create new catalog item</a>

    {% for item in items %}
    <div class="item">
      <h2>{{item.name}}</h2>
      <a href="{{ url_for('view_update_item_form', item_id = item.id) }}">Edit</a>
      <a href="{{ url_for('view_delete_item_form', item_id = item.id) }}">Delete</a>
    </div>
    {% endfor %}
  </body>
  
</html>