.catalog {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    text-align: center;
}

.menu-bar {
    position: relative;
    background-color: #000000;
    color: #ffffff;
}

.menu-bar a {
    color: #ffffff;
}

.menu-items {
    position: absolute;
}

.menu-item {
    float: left;
    padding: 0.5em;
}

.categories {
    width: 25%;
}

.items {
    width: 75%;
}